body{
    display: flex;
        flex-direction: column;
    align-items: center;
    height: 100vh;

}
#creationDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 15vh;
    width: 50vw;
    min-width: 450px;
    height: 80px;

    background-color:coral;
    border-radius: 20px 20px 0px 0px;
}
#optionButton{
    height: 50%;
    font-size: 1.5rem;
}
#inputDiv {
    position: relative;
}

#charCount {
    position: absolute;

    bottom: 0;
    right: 0;  
    margin: 2px;
    margin-right: 5px;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.5);

    pointer-events: none; 
    user-select: none;
}
input{
    height: 50px;
    width: 30vw;

    font-size: 1.5rem;

    min-width: 300px;
    
}
#addItem{
    
    height: 50px;
    width: 5vw;

    font-size: 1.25rem;
}
#itemsDiv{
    width: 50vw;
    min-width: 600px;
    max-height: 700px; /* <= limite máximo */
    background-color: antiquewhite;
    overflow-y: auto;

    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 0px 0px 15px 15px;
}
#list{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    min-width: 450px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
     width: 45vw;
    
    height: 100px;

    background-color: rgb(216, 95, 95);
    border-style: solid;
    
    border-width: 0px 5px 0px 0px;
    border-radius: 5px;
}
.textDiv{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: aliceblue;
    font-size: 1.35rem;
}
.textDiv p{
    overflow-wrap: break-word; /* Quebra palavra se for necessário */
    word-wrap: break-word;
}
.buttonDiv{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    width: 20%;

    margin-left: 20px;
    background-color: aqua;
}
button{
    width: 70%;
    height: 40%;

    font-size: 1.5rem;
}
